<div class='page__margin'>
  <mat-table [dataSource]='poses'>
    <!-- English name -->
    <div matColumnDef='englishName'>
      <mat-header-cell *matHeaderCellDef>English name</mat-header-cell>
      <mat-cell *matCellDef='let pose'>{{pose.englishname}}</mat-cell>
    </div>
    <!-- Sanskrit name -->
    <div matColumnDef='sanskritName'>
      <mat-header-cell mat-header-cell *matHeaderCellDef>Sanskrit name</mat-header-cell>
      <mat-cell mat-cell *matCellDef='let pose'>{{pose.sanskritname}}</mat-cell>
    </div>
    <!-- Type -->
    <div matColumnDef='type'>
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef='let pose'>{{pose.type}}</mat-cell>
    </div>
    <!-- Level -->
    <div matColumnDef='level'>
      <mat-header-cell *matHeaderCellDef>Level</mat-header-cell>
      <mat-cell *matCellDef='let pose'>{{pose.level}}</mat-cell>
    </div>
    <!-- Link -->
    <div matColumnDef='link'>
      <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
      <mat-cell *matCellDef='let pose'>{{pose.link}}</mat-cell>
    </div>
    <!-- Back button -->
    <div matColumnDef='back'>
      <mat-header-cell *matHeaderCellDef></mat-header-cell> 
      <mat-cell *matCellDef='let pose'> 
        <button 
        (click)='toDisplayPoses()' 
        mat-flat-button
        class='mat-table__button--gradient'
        >
          Back
        </button> 
      </mat-cell>
    </div>
    <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
    <mat-row *matRowDef='let pose; columns: displayedColumns'></mat-row>
  </mat-table>
  <app-form-control [isUpdate]='isUpdate'></app-form-control>
</div>

