/* Margin for the whole component */
.profile-view { margin-left: 50px; }

/* Info section layout */
.info {
  flex-direction: row;
  justify-content: flex-start;
}

/* Info section and logout button layout */
.info, .mat-flat-button {
  display: flex;
  align-items: center;
}

/* Overrides the default font weight */
.info__header { font-weight: normal; }

/* Logout button layout and design */
.mat-flat-button {
  background-image: linear-gradient(#E8A999, #FCBEAF);
  justify-content: center;
  border-radius: 22px;
  height: 25px;
  width: 30px;
  font-size: 13px;
}

/* Logout button hover effect */
.mat-flat-button:hover { box-shadow: 0 1px 2px #aaaaaa, 0 5px 10px 0 #aaaaaa; }

/* Content button focus effect */
.mat-stroked-button:focus { background-color: #86BDAF; }

/* Specific margin settings */
.info, .info__user, .mat-flat-button, .content { margin: 2em; }
.info__user { margin-left: 10em; }
.button-container { margin-bottom: 2em; }
