.page__margin {
  margin-left: 100px;
}

.info {
  flex-direction: row;
  justify-content: flex-start;
}

.info__header {
  font-weight: normal;
}

.info, .info__logout-button--gradient {
  display: flex;
  align-items: center;
}

.info, .info__user, .info__logout-button--gradient, .poses-container {
  margin: 2em;
}

.info__user {
  margin-left: 10em;
}

.info__logout-button--gradient {
  background-image: linear-gradient(#E8A999, #FCBEAF);
  justify-content: center;
  border-radius: 22px;
  height: 25px;
  width: 30px;
  font-size: 13px;
}

.info__logout-button--gradient:hover {
  box-shadow: 0 1px 2px #aaaaaa, 0 5px 10px 0 #aaaaaa;
}

.poses-container__button-container {
  margin-bottom: 2em;
}

.poses-container__button:focus {
  background-color: #86BDAF;
}

.poses-container__button--left-margin {
  margin-left: 20px;
}
