<div class='form-container'>
  <!-- Header conditionally rendered -->
  <h3 *ngIf='isAdd'>Add a new yoga pose</h3>
  <h3 *ngIf='isUpdate'>Update your yoga pose</h3>
  <!-- Template-driven form -->
  <form
    name='form'
    *ngIf='!isSuccessful'
    (ngSubmit)='f.form.valid && onSubmit()'
    #f='ngForm'
    novalidate
  >
    <div>
      <!-- English name -->
      <mat-form-field appearance='outline'>
        <mat-label for='englishname'>English Name</mat-label>
        <input
          name='englishname'
          type='text'
          [(ngModel)]='form.englishname'
          #englishname='ngModel'
          matInput
          required
        />
        <div
          role='alert'
          *ngIf='f.submitted && englishname.invalid'
        >
          Name required!
        </div>
      </mat-form-field>
    </div>
    <div>
      <!-- Sanskrit name -->
      <mat-form-field appearance='outline'>
        <mat-label for='sanskritname'>Sanskrit name</mat-label>
        <input
          name='sanskritname'
          type='text'
          [(ngModel)]='form.sanskritname'
          #sanskritname='ngModel'
          matInput
        />
      </mat-form-field>
    </div>
    <div>

      <!-- Type -->
      <mat-form-field appearance='outline'>
        <mat-label for='type'>Type</mat-label>
        <mat-select>
          <mat-option
            *ngFor='let type of types'
            [value]='type.value'
          >
            {{type.viewValue}}
          </mat-option>
        </mat-select>
        <!--<input
          name='type'
          type='text'
          [(ngModel)]='form.type'
          #type='ngModel'
          matInput
          required
        />-->
        <div
          role='alert'
          *ngIf='f.submitted && type.invalid'
        >
          Type required!
        </div>
      </mat-form-field>

    </div>
    <div>
      <!-- Difficulty -->
      <mat-form-field appearance='outline'>
        <mat-label for='difficulty'>Difficulty</mat-label>
        <input
          name='difficulty'
          type='text'
          [(ngModel)]='form.difficulty'
          #difficulty='ngModel'
          matInput
          required
        />
        <div
          role='alert'
          *ngIf='f.submitted && difficulty.invalid'
        >
          Difficulty required!
        </div>
      </mat-form-field>
    </div>
    <div>
      <!-- Link -->
      <mat-form-field appearance='outline'>
        <mat-label for='link'>Link</mat-label>
        <input
          name='link'
          type='url'
          [(ngModel)]='form.link'
          #link='ngModel'
          matInput
          required
        />
        <div
          role='alert'
          *ngIf='f.submitted && link.invalid'
        >
          Link required!
        </div>
      </mat-form-field>
    </div>
    <div>
      <!-- Add button -->
      <button 
        mat-flat-button
        *ngIf='isAdd'
        [disabled]='f.form.valid'
      >
        Add
      </button>
      <!-- Update button -->
      <button 
        mat-flat-button
        *ngIf='isUpdate'
        [disabled]='f.form.valid'
      >
        Update
      </button>
    </div>
    <!-- Error message -->
    <div
      role='alert'
      *ngIf='f.submitted && submitFailed'
    >
      Something went wrong: {{ errorMessage }}
    </div>
  </form>
</div>
