<div>
  <div class='register-container'>
    <h2 class='register-container__header'>Register</h2>
    <form
      name='form'
      class='register-container__form'
      *ngIf='!isSuccessful'
      [formGroup]='userForm'
      novalidate
    >
      <div>
        <!-- Email -->
        <mat-form-field appearance='outline'>
          <mat-label for='email'>Email</mat-label>
          <input
            [class.is-invalid] = "userForm.get('email').invalid && userForm.get('email').touched"
            name='email'
            type='email'
            matInput placeholder='example@email.com'
            formControlName='email'
            appValidateEmail
          />
          <div 
            role='alert'
            *ngIf='email.touched && email.invalid'
          >
            <small *ngIf='email.errors?.required'>
              Email required!
            </small>
            <small *ngIf='email.errors?.emailTaken'>
              Email already exists!
            </small>
          </div>
        </mat-form-field>
      </div>
      <div>
        <!-- Password -->
        <mat-form-field appearance='outline'>
          <mat-label for='password'>Password</mat-label>
          <input
            [class.is-invalid] = "userForm.get('password').invalid && userForm.get('password').touched"
            name='password'
            type='password'
            matInput placeholder='***'
            formControlName='password'
          />
          <div 
            role='alert' 
            *ngIf='password.touched && password.invalid'
          >
            <small *ngIf='password.errors?.required'>
              Passworld required!
            </small>
          </div>
        </mat-form-field>
      </div>
      <div>
        <!-- Sign up button -->
        <button 
          (click)='onSubmit()' 
          mat-flat-button 
          class='register-container__button--gradient'
          [disabled]='userForm.invalid'
        >Sign Up</button>
      </div>
      <div
        role='alert'
        *ngIf='userForm.submitted && signUpFailed'
      >
        Signup failed: {{ errorMessage }}
      </div>
    </form>
    <div 
      class='register-confirmation'
      role='alert'
      *ngIf='isSuccessful'
    >
      <p>Your registration is successful!</p>
      <!-- Direct to login -->
      <button 
        (click)='toLogin()'
        mat-flat-button 
        class='register-container__button--gradient'
      >Login
      </button>
    </div>
  </div>
</div>
