<div>
  <h2>Register</h2>
  <form
    *ngIf='!isSuccessful'
    name='form'
    (ngSubmit)='f.form.valid && onSubmit()'
    #f='ngForm'
    novalidate
  >
    <div>
      <label for='email'>Email</label>
      <input
        type='email'
        name='email'
        [(ngModel)]='form.email'
        required
        #email='ngModel'
      />
      <div 
        role='alert'
        *ngIf='f.submitted && email.invalid'
      >
        Email required!
      </div>
    </div>
    <div>
      <label for='password'>Password</label>
      <input
        type='password'
        name='password'
        [(ngModel)]='form.password'
        required
        #password='ngModel'
      />
      <div 
        role='alert' 
        *ngIf='f.submitted && password.invalid'
      >
        Password required!
      </div>
    </div>
    <div>
      <button>Sign Up</button>
    </div>
    <div
      role='alert'
      *ngIf='f.submitted && signUpFailed'
    >
      Signup failed: {{ errorMessage }}
    </div>
  </form>
  <div 
    role='alert'
    *ngIf='isSuccessful'
  >
    Your registration is successful!
    <button (click)='toLogin()'>Login</button>
  </div>
</div>