.image-container {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 3em;
}

.image {
  width: 10%;
  min-width: 100px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-gradient {
  background-image: linear-gradient(#B0F5D6, #87EBD6);
  padding: 0em;
  width: 6em;
}

.button-gradient:hover {
  box-shadow: 0 1px 2px #aaaaaa, 0 5px 10px 0 #aaaaaa;
}
