th {
  font-weight: normal;
}

.matColumnDef {
  margin: 200px;
}

.mat-table__button-container {
  padding-left: 200px;
}

.mat-flat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  height: 20px;
  width: 25px;
  font-size: 12px;
}

.mat-table__button--green-gradient {
  background-image: linear-gradient(#B7CEAD, #C8DAC0);
}

.mat-table__button--red-gradient {
  background-image: linear-gradient(#E8A999, #FCBEAF);
}