<div>
  <mat-table [dataSource]='poses'>
    <!-- English name -->
    <div matColumnDef='englishName'>
      <mat-header-cell *matHeaderCellDef>English name</mat-header-cell>
      <mat-cell *matCellDef='let pose'>{{pose.englishname}}</mat-cell>
    </div>
    <!-- Sanskrit name -->
    <div matColumnDef='sanskritName'>
      <mat-header-cell mat-header-cell *matHeaderCellDef>Sanskrit name</mat-header-cell>
      <mat-cell mat-cell *matCellDef='let pose'>{{pose.sanskritname}}</mat-cell>
    </div>
    <!-- Type -->
    <div matColumnDef='type'>
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef='let pose'>{{pose.type}}</mat-cell>
    </div>
    <!-- Difficulty -->
    <div matColumnDef='difficulty'>
      <mat-header-cell *matHeaderCellDef>Difficulty</mat-header-cell>
      <mat-cell *matCellDef='let pose'>{{pose.difficulty}}</mat-cell>
    </div>
    <!-- Link -->
    <div matColumnDef='link'>
      <mat-header-cell *matHeaderCellDef>Link</mat-header-cell>
      <mat-cell *matCellDef='let pose'>{{pose.link}}</mat-cell>
    </div>
    <!-- Delete button -->
    <div matColumnDef='delete'>
      <mat-header-cell *matHeaderCellDef></mat-header-cell> 
      <mat-cell *matCellDef='let pose'> 
        <button 
        (click)='deletePose(pose)' 
        mat-flat-button
        class='mat-table__button--red-gradient'
        >
          Delete
        </button> 
      </mat-cell>
    </div>
    <!-- Update button -->
    <div matColumnDef='update'>
      <mat-header-cell *matHeaderCellDef></mat-header-cell> 
      <mat-cell *matCellDef='let pose'> 
        <button 
        (click)='updatePose(pose)' 
        mat-flat-button
        class='mat-table__button--green-gradient'
        >
          Update
        </button> 
      </mat-cell>
    </div>
    <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
    <mat-row *matRowDef='let pose; columns: displayedColumns'></mat-row>
  </mat-table>
</div>
